.expense-summary { 
    background: #f7f7f7;
}
.expense-summary > div > h2 {
    font-weight: normal;
}
/* .expense-item {  } */
.expense-item strong {
    display: block;
    color:#000;
    text-transform: capitalize;
    margin-bottom: 3px;
}

.expense-item {
    border:1px solid $black;
    padding: 0;
}
.expense-item p {
    border-top:1px solid $black;
    padding: $s-size;
    margin: 0;
}

.expense-item p:nth-child(even) {
    background: #f2f2f2;
}
/* .expensesFilters { } */

.expensesFilters > div {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    @media (min-width: $desktop-breakpoint) {
      flex-direction: row;
    }
  }
.expensesFilters > div > div {
    margin: $m-size 0;
    @media (min-width: $desktop-breakpoint) { 
      margin: $s-size 0; 
    }
  }
  .expensesFilters > div > div > input, .expensesFilters > div > div > select , #createForm input {
      border: 1px solid #cacccd;
      height: 50px;
      padding: $s-size;
      font-size: $font-size-large;
  }

  #createForm textarea {
    border: 1px solid #cacccd;
      height: 10rem;
      width: 40rem;
      display: block;
      padding: $s-size;
      font-size: $font-size-large;
  }