html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

a{
  color: #999;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a > h3 {
  color:#000;
  text-transform: capitalize;
}

.topSection {
  background: #000;
  color: #fff;
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}